body {background-image: url("imagenes/silo/siloprincipal.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
*{
    color: white;
}

img{
   position: absolute;
}

img:nth-of-type(1){
    width: 300px;
    height: 300px;
    top: 20px;
    left: 20px;
}

img:nth-of-type(2){
    width: 300px;
    height: 300px;
    top: 20px;
    left: 500px;
}
img:nth-of-type(3){
    width: 300px;
    height: 300px;
    top: 20px;
    left: 900px;
}
img:nth-of-type(4){
    width: 300px;
    height: 300px;
    top: 20px;
    left: 1350px;
}
img:nth-of-type(5){
    width: 300px;
    height: 300px;
    top: 350px;
    left: 20px;
}
img:nth-of-type(6){
    width: 300px;
    height: 300px;
    top: 350px;
    left: 1340px;
}