

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(40, 69, 68);
    background-image: url(imagenes/fondoespectacular.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


h1 {
    text-decoration: underline white wavy;
    text-align: center;
    font-size: 50px;
    font-family: "Splash";
    margin: 20px 0;
     
}


p {
    font-size: 18px;
    text-align: justify;
    margin: 20px;
}


main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}


article {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,1);
}


audio {
    display: block;
    margin: 20px auto;
}


ol:nth-of-type(1) {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    
}

ol a {
    text-decoration: none;
    color: cyan;
    font-weight: bold;
    transition: 0.7s;
}

ol a:hover {
    color: white;
    text-decoration: underline cyan;
}
h2 {
    
    padding: 8px 15px;
    margin: 20px 0 10px;
    
    display: inline-block;
    box-shadow: 0 0 10px #00eaff;
    width: 100%;
}



header>h2 {
    
background-color: rgba(0, 0, 0, 0.5);
    
}
    
nav>h2 {
background-color: rgba(0, 0, 0, 0.5);
}


img {
    width: 100%;
    height: auto;
    margin: 20px 0;
}


body > p:last-child {
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    padding: 15px;
    margin-top: 20px;
}


@media (max-width: 768px) {

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    h2 {
        font-size: 18px;
    }

    ol:nth-of-type(1) {
        flex-direction: column;
        align-items: center;
    }
}