body{background-color: rgb(40, 69, 68);
    background-image:url(imagenes/fondoespectacular.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat ;
}
h1{text-decoration: underline red dashed;
    text-align: center;
    font-size: 35px;
   

}
*{ 
    color: white;   
}
p{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: justify;
    margin: 20px;
}
main{
    display: inline-block;
    text-align: center;

    color: crimson;
    
}
