body {background-image: url("imagenes/silo/siloprincipal.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
*{
    color: white;
}

img{
   position: absolute;
}

img:nth-child(1){
    width: 100px;
    height: 100px;
    top: 20px;
    left: 20px;
}