body{
    background-color: black;
}
*{
    font-size: 25px;
}
img:nth-of-type(1){
    float: right;
}
h1{
    text-align: center;
    color: white;
}
article:nth-of-type(1){
    display: inline-block;
}

p:nth-of-type(1){
   color: skyblue;
}
p:nth-of-type(2){
    visibility: hidden;
}
article>img{
    margin: 10px;
}
a{

}